@use "../../scss/abtracts";
@import "../../Common/Common.module.scss";

.address {
    width: 100%;
    display: flex;
    box-shadow: 0 10px 50px #e6e6e6;
    border-radius: 4px;
    padding: 20px;
    align-items: center;
    flex-direction: column;

    @include abtracts.breakpoint(sm) {
        padding: 10px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-self: stretch;
        flex-wrap: wrap;
    }

    &__item {
        border: 1px solid #e6e6e6;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;

        @include abtracts.breakpoint(md) {
            width: 100%;
        }

        @include abtracts.breakpoint(sm) {
            padding: 10px;
        }

        &--title {
            font-weight: 500;
        }

        &--name {
            font-size: 1.8rem;
            color: $fourary-color;
            font-weight: 500;
            line-height: 1.6;

            @include abtracts.breakpoint(md) {
                font-size: 1.6rem;
            }
        }

        &--phone {
            font-size: 1.6rem;
            color: #000;
            line-height: 1.6;

            @include abtracts.breakpoint(md) {
                font-size: 1.4rem;
            }
        }

        &--email {
            font-size: 1.6rem;
            color: #000;
            line-height: 1.6;

            @include abtracts.breakpoint(md) {
                font-size: 1.4rem;
            }
        }

        &--location {
            font-size: 1.6rem;
            color: #000;
            line-height: 1.6;

            @include abtracts.breakpoint(md) {
                font-size: 1.4rem;
            }
        }
    }

    &__action-wrap {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    &__action-cancel {
        padding: 10px;
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $primary-color;
        background-color: transparent;
        cursor: pointer;
        min-width: 120px;
    }

    &__action-add {
        padding: 10px;
        color: #fff;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 4px;
        cursor: pointer;
        min-width: 120px;
    }

    &__add {
        margin-top: 20px;
        width: 500px;
        box-shadow: 0 5px 50px #e6e6e6;
        padding: 20px;
        border-radius: 10px;

        &-title {
            font-weight: 500;
            font-size: 2rem;
            color: $primary-color;
            text-align: center;
        }

        &-gr {
            margin-top: 20px;
            display: flex;
            gap: 5px;
            flex-direction: column;

            label {
                color: #333;
                font-weight: 500;

                span {
                    color: $fourary-color;
                }
            }

            input {
                padding: 10px;
                border: 1px solid #e6e6e6;
                outline: none;
                color: $primary-color;
                border-radius: 4px;

                &:focus {
                    border-color: $primary-color;
                    box-shadow: 0 2px 50px $primary-color;
                }

                &::placeholder {
                    color: #959595;
                }
            }
        }

        &-btn {
            margin-top: 20px;
            color: #fff;
            background-color: #000;
            padding: 10px;
            background-origin: none;
            outline: none;
            text-align: center;
            width: 100%;
            cursor: pointer;
        }
    }
}