@import '../Common/Common.module.scss';

.loading {

  &__inner {
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
