@import "../Common/Common.module.scss";

.toggle {
    display: flex;
    align-items: center;
    padding: 15px 8px;

    &__input {
        visibility: hidden;

        &+label {
            font-size: 1.6rem;
            cursor: pointer;
            align-items: center;
            color: #333;
            display: flex;
            gap: 5px;
            
            &::before {
                content: "";
                width: 30px;
                height: 15px;
                border-radius: 99px;
                background-color: $thusary-color;
                border: 2px solid #000;
            }
            
            &::after {
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                transition: 0.5s;
            }
        }

        &:checked+label::before {
            background-color: #000;
        }

        &:checked+label::after {
            transform: translateX(100%);
        }
    }
}