@use "../../../../components/scss/abtracts";
@import "../../../../components/Common/Common.module.scss";

.bill {
    margin: 20px 0;

    &__item {
        display: flex;
        flex-direction: column;
        border: 2px solid $thusary-color;
        padding: 10px;
        margin-top: 30px;
        border-radius: 10px;

        @include abtracts.breakpoint(md) {
            border: 1.5px solid $thusary-color;
        }

        &-title {
            text-align: center;
            font-size: 2.2rem;
            font-weight: 600;
            color: $thusary-color;

            @include abtracts.breakpoint(lg) {
                font-size: 2rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 1.8rem;
            }
        }

        &-info {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &--subtitle {
                color: $thusary-color;
                font-weight: 600;
                font-size: 1.8rem;

                @include abtracts.breakpoint(md) {
                    font-size: 1.6rem;
                }
            }

            &--gr {
                color: #333;
                line-height: 1.6;

                @include abtracts.breakpoint(md) {
                    font-size: 1.5rem;
                }

                span {
                    font-weight: 500;

                    @include abtracts.breakpoint(md) {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        &-order {
            margin-top: 40px;

            &--subtitle {
                color: $thusary-color;
                font-weight: 600;
                font-size: 1.8rem;

                @include abtracts.breakpoint(md) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    &__order {

        &-list {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-wrap {
            display: flex;
            border: 1px solid #e6e6e6;
            padding: 10px;
            border-radius: 10px;
            gap: 10px;
            justify-content: space-between;

            @include abtracts.breakpoint(sm) {
                flex-direction: column;
            }
        }

        &-bonsai {
            display: flex;
            gap: 10px;
        }

        &-detail {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include abtracts.breakpoint(md) {
                font-size: 1.5rem;
            }
        }

        &-img {
            width: 100px;
            height: 100px;
            border-radius: 4px;
            object-fit: cover;
            display: block;

            @include abtracts.breakpoint(md) {
                width: 70px;
                height: 70px;
            }
        }

        &-name {
            color: $fourary-color;
            font-weight: 500;
        }

        &-code {
            color: #333;
            font-weight: 500;
        }

        &-price {
            color: $fourary-color;
            font-weight: 500;
        }

        &-quantity {
            color: #333;
            font-weight: 500;
        }

        &-total-item {
            color: $thusary-color;
            font-weight: 600;
            font-size: 1.7rem;

            @include abtracts.breakpoint(sm) {
                margin-top: 10px;
                background-color: $thusary-color;
                color: #fff;
                padding: 10px;
                border-radius: 4px;
            }
        }
    }

    &__money {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 500;
        margin-top: 20px;
        border-radius: 10px;
        color: #fff;
        background-color: $thusary-color;
        padding: 10px;
    }

    &__subtotal {
        display: flex;

        span {
            width: 100px;
        }
    }

    &__fee {
        display: flex;

        span {
            display: block;
            width: 100px;
        }
    }

    &__freight {
        display: flex;
        
        span {
            display: block;
            width: 100px;
        }
    }

    &__grandtotal {
        border-top: 1px solid #e6e6e6;
        padding-top: 10px;
        display: flex;

        span {
            display: block;
            width: 100px;
        }
    }
}

